<p>
  pipe-filter works!
</p>
<input type="text" class="form-control" appAutoFocus [(ngModel)]="filterString" #RefInput>
<hr>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let car of carsArray | filterPipe:filterString:'name':false; let i = index">{{i+1}} - {{car.name}}</li>
</ul>
<button class="btn btn-primary" (click)="setTxt(RefInput.value)">ADD</button>
<button class="btn btn-primary" (click)="getTxt()">SHOW</button>
<p>
  {{num}} (10) = {{num | roundingPipe:10}}
</p>
<p>
  'aaaa' = {{'aaaa' | roundingPipe:10}}
</p>
<p>
  1.1234567890123 (default) = {{1.1234567890123 | roundingPipe}}
</p>
<p>
  101.0002222334234324 (5, ",") = {{101.0002222334234324 | roundingPipe:5 : ","}}
</p>
<p>
  3 (default) = {{3 | roundingPipe}}
</p>
<p>
  2 (5, ",") = {{2 | roundingPipe:5 : ","}}
</p>