<p>
  form works!
</p>
<div>
    В данном примере демонстрируется способ отображения сообщений об ошибках
  </div>
  
  <form novalidate [formGroup]="registrationForm" (ngSubmit)="submitForm()">
    <fieldset formGroupName="name">
  
      <div class="form-group has-danger" >
        <label>First Name</label>
        <input type="text" class="form-control" formControlName="firstName" [ngClass]="{
          'is-invalid': firstName.invalid && firstName.dirty,
          'is-valid': firstName.valid && firstName.dirty }">
        <div class="alert alert-danger" *ngIf="firstName.invalid && firstName.dirty" >
          Поле обязательное для ввода
        </div>
      </div>
  
      <div class="form-group" >
        <label>Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" [ngClass]="{
          'is-invalid': lastName.invalid && lastName.dirty,
          'is-valid': lastName.valid && lastName.dirty }">
        <div class="alert alert-danger" *ngIf="lastName.invalid && lastName.dirty">
          Поле обязательное для ввода
        </div>
      </div>
    </fieldset>
  
    <div class="form-group" >
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email" [ngClass]="{
        'is-invalid': email.invalid && email.dirty,
        'is-valid': email.valid && email.dirty }">
      <div class="alert alert-danger" *ngIf="email.errors && (email.dirty || email.touched)">
        <p *ngIf="email.errors.required">Поле обязательное для ввода</p>
        <p *ngIf="email.errors.pattern">Не правильный формат</p>
      </div>
    </div>
  
    <div class="form-group" >
      <label for="">Password</label>
      <input type="password" class="form-control" formControlName="password" [ngClass]="{
        'is-invalid': password.invalid && password.dirty,
        'is-valid': password.valid && password.dirty }">
      <div class="alert alert-danger" *ngIf="password.errors && (password.dirty || password.touched)">
        <p *ngIf="password.errors.required">Поле обязательное для ввода</p>
        <p *ngIf="password.errors.minlength">Минимальная длина пароля {{password.errors.minlength.requiredLength}} осталось {{password.errors.minlength.requiredLength - password.value.length}}</p>
      </div>
    </div>
    <input type="submit" class="btn btn-default" [disabled]="!registrationForm.valid">
  </form>
  
  <br>
  
  <pre>{{registrationForm.value |json}}</pre>
  <pre>{{password.value}}</pre>
